@page "/DetailsTickets/{TicketId:int}";

@inject TicketsService ticketService;
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<div class="card shadow-lg border-0 rounded" style="background-color: #f8f9fa;">
    <div class="card-header bg-primary text-white text-center py-2 rounded">
        <h3 style="font-weight: bold;" class="mb-0 font-weight-bold">Detalles de Tickets</h3>
    </div>

    <div class="card-body">

        <div class="row">
            <div class="col-md-6 mb-3">
                <label style="font-weight: bold;" class="form-label ">Fecha:</label>
                <span>@Tickets.Fecha</span>
            </div>

            <div class="col-md-6 mb-3">
                <label style="font-weight: bold;" class="form-label">Cliente Id:</label>
                <span>@Tickets.ClienteId</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label style="font-weight: bold;" class="form-label">Sistema Id:</label>
                <span>@Tickets.SistemaId</span>
            </div>

            <div class="col-md-6 mb-3">
                <label style="font-weight: bold;" class="form-label">Prioridad Id:</label>
                <span>@Tickets.PrioridadId</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label style="font-weight: bold;" class="form-label">Solicitado Por:</label>
                <span>@Tickets.SolicitadoPor</span>
            </div>

            <div class="col-md-6 mb-3">
                <label style="font-weight: bold;" class="form-label">Asunto:</label>
                <span>@Tickets.Asunto</span>
            </div>

            <div class="col-md-6 mb-3">
                <label style="font-weight: bold;" class="form-label">Descripci&oacuten:</label>
                <span>@Tickets.Descripcion</span>
            </div>
        </div>

    </div>

    <div class="card-footer bg-light d-flex justify-content-end">
        <div class="btn-group">
            <a type="button" href="/TicketsIndex/" class="btn btn-outline-danger"><span class="fas fa-arrow-left"></span> Retroceder </a>
        </div>
    </div>
</div>

@code {

    public Tickets Tickets = new Tickets();

    [Parameter]
    public int TicketId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (TicketId > 0)
        {
            Tickets.TicketId = TicketId;
            await Buscar();
        }
    }

    public async Task Buscar()
    {
        var existe = await ticketService.Buscar(Tickets.TicketId);
        if (existe != null)
        {
            Tickets = existe;
        }
    }
}

